{% extends "generic_components/base_content_modal.html" %}
{% load static %}

{% block modal_id %}ticket_modal{% endblock %}

{% block modal_title %}
  {% if ticket %} Edit {{ticket.name}} {% else %} Create new ticket? {% endif %} 
{% endblock %}

{% block modal_classes %}
{% if ticket %}modal-xl{%else %}{% endif %}
{% endblock %}

{% block modal_content %}
  <script defer src="{% static "js/ticket_form.js" %}"></script>
 
  <div class="container"> 
    <div class="row justify-content-between">
      <div class="{% if ticket %}col-6{% else %}col-12{% endif %}"> 
        <form method="POST"
            action="{% if ticket %}{% url 'ticket_edit' project.id ticket.id%}{% else %}{%url 'ticket_create' project.id %}{% endif %}">
          {% csrf_token %}
          {{ ticket_form.as_p }}
          {% include "generic_components/form_errors.html" %}
          <button type="submit" class="btn btn-primary">{% if ticket %} Save {{ticket.name}} {% else %}Create Ticket {% endif %}</button>
            {% if is_admin %}
              <btn
                data-project-id="{{ project.id }}"
                data-ticket-id="{{ ticket.id }}"
                data-ticket-name="{{ ticket.name }}"
                data-bs-toggle="modal"
                data-bs-target="#delete_ticket_modal"
                class="btn btn-danger remove-ticket-btn "
                >
                Delete Ticket?
              </btn>
          {% endif %}
        </form>
      </div>
      {% if ticket %}
        <div class="col-4 mx-auto justify-content-center"> 
          {% if ticket.comments.count > 0 %}
            {% for comment in ticket.comments %}
            <div class="card mb-1">
              <div class="card-body">
                {% if comment_id and comment_id == comment.id%}
                  <form method="POST" class="mt-2" action="{% url "comment_edit" project.id ticket.id comment.id %}">
                  {% csrf_token %}
                {% endif %}

                  <strong class="d-flex justify-content-between">
                    {{comment.user.username}}
                      {% if user.id == comment.user.id %}
                        <a
                          href="{% url "ticket_view" project.id ticket.id comment.id %}"
                          class="btn btn-info btn-sm edit-comment-btn bi-pencil-fill"
                        ></a>
                      {% endif %}

                      {% if is_admin %}
                        <button
                          data-project-id="{{ project.id }}"
                          data-ticket-id="{{ ticket.id }}"
                          data-comment-id="{{ comment.id }}"
                          data-bs-toggle="modal"
                          data-bs-target="#delete_comment_modal"
                          class="btn btn-danger btn-sm remove-comment-btn bi-x"
                        ></button>
                      {% endif %}
                    </strong>

                  {% if comment_id and comment_id == comment.id%}
                    {{ edit_comment_form.as_p }}
                  {% else %}
                    <p id="comment-paragraph-{{comment.id}}" class="mt-2">{{comment.text}}</p>
                    <i>{{comment.updated_at|date:"D M d - g:i a"}}</i>
                  {% endif %}

                {% if comment_id and comment_id == comment.id%}
                  <button type="submit" class="btn btn-primary">Save </button>
                  </form>
                {% endif %}
              </div>
            </div>
            {% endfor %}
          
          {% else %}
            <p>No comments yet....</p>
          {% endif %}
          <div class="card mb-1">
            <div class="card-body">
              <strong>
                Add new comment
              </strong>
              <form method="POST" class="mt-2" action="{% url "comment_create" project.id ticket.id %}">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit" class="btn btn-primary">Save </button>
              </form>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>

{% endblock modal_content %}