{% extends "base.html" %}
{% block title %} New Project {% endblock %}
{% block header %} Create Project {% endblock %}

{% block content %}
<form action="{% url 'project_create' %}" method="POST">
  {% csrf_token %}
  {{ project_form.as_p }}

  <h3>Add Swimlanes</h3>
  <div id="swimlanes">
    {{ swimlane_formset.management_form }}
    {% for form in swimlane_formset %}
      <div class="form-row">
        {{ form.as_p }}
      </div>
    {% endfor %}
  </div>

  {% include "generic_components/form_errors.html" %}

  <div id="empty-form" class="form-row" style="display: none;">
    {{ swimlane_formset.empty_form.as_p }}
  </div>

  <button type="button" id="add-swimlane" class="btn btn-secondary">Add Another Swimlane</button>

  <div class="d-grid gap-2 mt-3">
    <button type="submit" class="btn btn-primary">Create Project</button>
  </div>
</form>

<script>
  /*Immediately invoked function expression (IIFE) (https://developer.mozilla.org/en-US/docs/Glossary/IIFE)
      This is required to dynamically append Swimlane form options that have HTML attributes the backend recognises as our form.
  */
  document.addEventListener('DOMContentLoaded', function () {
    const addSwimlaneButton = document.getElementById('add-swimlane');
    const swimlanesDiv = document.getElementById('swimlanes');
    const totalFormsInput = document.querySelector('#id_form-TOTAL_FORMS');
    const emptyFormDiv = document.getElementById('empty-form').innerHTML;

    let formIndex = parseInt(totalFormsInput.value, 10);

    addSwimlaneButton.addEventListener('click', function () {
      const newFormHtml = emptyFormDiv.replace(/__prefix__/g, formIndex);
      swimlanesDiv.insertAdjacentHTML('beforeend', newFormHtml);
      formIndex++;

      totalFormsInput.value = formIndex;
    });
  });
</script>
{% endblock %}