:root {
  --primary-color: #e83030;
  --secondary-color: #f5651d;
}

.bg-primary-custom {
  background-color: var(--primary-color) !important;
}

.bg-secondary-custom {
  background-color: var(--secondary-color) !important;
}

body {
  background-color: #f0f2f5;
  font-family: Arial, sans-serif;
}
.register-container {
  max-width: 450px;
  margin: 5% auto;
  padding: 2.5rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.register-container:hover {
  box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.15);
}
.register-title {
  font-size: 1.75rem;
  font-weight: bold;
  color: #007bff;
  text-align: center;
  margin-bottom: 1.5rem;
}
.form-label {
  color: #6c757d;
}
.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.btn-primary {
  background-color: #007bff;
  border: none;
}
.btn-primary:hover {
  background-color: #0056b3;
}
.login-link {
  color: #6c757d;
  text-align: center;
  font-size: 0.9rem;
}
.login-link a {
  color: #007bff;
  text-decoration: none;
}
.login-link a:hover {
  text-decoration: underline;
}
nav, footer {
  background-color: var(--primary-color);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(25)
}

.container {
  min-height: 100%;
}

body{
  padding-bottom: 75px;
}

footer {
  padding: 20px;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.btn-primary{
  background-color: var(--secondary-color) !important;
  border-color: #9000ffdc !important;
}

.navbar-toggler{
  background-color: #FFFFFF !important;
}

.navbar-toggler-icon {
  background-color: #FFFFFF !important;
}

.card-header.bg-primary {
  background-color: var(--primary-color) !important;  
}

.card-body {
  background-color: #f9f9f9; 
}

.card-header h5 {
  font-size: 1.1rem;
  color: #333;
}

.card {
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9; 
}

.ticket-card {
  background-color: #FFFFFF !important;
}
.ticket-card:hover {
  border-color: var(--secondary-color)
}

.ticket-comment {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.-mt-5 {
  margin-top: -3.5rem;
}

.content-modal {
  width: 1200px !important;
}

.toast {
  position: fixed;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.toast.show {
  display: block;
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.toast.hide {
  opacity: 0;
  transition: opacity 1s ease-out;
}