<div class="modal fade" id="{% block modal_id %}modal-id{% endblock %}" tabindex="-1" aria-labelledby="customModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="customModalLabel">{% block modal_title %}Modal Title{% endblock %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{% block modal_description %}Modal Description{% endblock %}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form id="modalForm" action="{% block form_action %}#{% endblock %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary" id="modalSubmitButton">{% block button_text %}Submit{% endblock %}</button>
        </form>
      </div>
    </div>
  </div>
</div>