<nav class="text-light navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand text-light fw-semibold" href="{%url 'index' %}">Simple Helpdesk</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto">
        <a class="nav-item nav-link text-light fw-semibold" href="#">Some Link</a>
      </div>
      
      <div class="navbar-nav ms-auto align-items-center">
        <span class="navbar-text me-3 text-light">
          Welcome, <span class="fw-bold">{{ user.username }}</span>.
        </span>
        <a class="nav-item nav-link text-light" href="{% url 'sign_out' %}">Sign out</a>
        <a class="nav-item nav-link text-light" href="{% url 'change_password' %}">Change Password</a>
      </div>
    </div>
  </div>
</nav>