{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Simple Helpdesk{% endblock title %}</title>
    {% include "generic_components/dependencies.html" %}
  </head>
  <body>
    {% include "generic_components/nav_bar.html" %}
    <main>
      <section class="container my-5">
        <div class="mb-3">
        <h1>
          {% block header %}Simple Helpdesk{% endblock header %}
        </h1>
        <h5>{% block description %}{% endblock description %} </h5>
        </div>
      </section>
      {% block content %} {% endblock content %}
    </main>
  {% include "generic_components/footer.html" %}
  </body>
</html>
