{% extends "authentication/base_auth.html" %}
{% block title %} Change Password {% endblock %}
{% block content %}
  <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="row w-100">
      <div class="col-md-6 col-lg-4 mx-auto">
        <div class="card shadow-sm">
          <div class="card-body p-4">
            <h3 class="card-title text-center mb-4">Change Password</h3>

            <form method="POST" action="{% url 'change_password' %}">
              {% csrf_token %}
              <div class="mb-3">
                <label for="old_password" class="form-label">Old Password</label>
                <div class="input-group">
                  <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                 {{form.old_password}}
                </div>
              </div>

              <div class="mb-3">
                <label for="new_password1" class="form-label">New Password</label>
                <div class="input-group">
                  <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                 {{form.new_password1}}
                </div>
              </div>

              <div class="mb-3">
                <label for="new_password2" class="form-label">Confirm New Password</label>
                <div class="input-group">
                  <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                 {{form.new_password2}}
                </div>
              </div>

              {% include "generic_components/form_errors.html" %}

              <button type="submit" class="btn btn-primary w-100">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}